.idea/*
build/*
dist/*
storm.egg-info/*
temp/*
.DS_Store
config.py
storm/fse_repl/bug1/mutant_*
storm/fse_repl/bug2/mutant_*
storm/fse_repl/bug3/mutant_*
storm/fse_repl/bug4/mutant_*
storm/fse_repl/bug5/mutant_*
storm/fse_repl/bug6/mutant_*
storm/fse_repl/bug7/mutant_*
storm/fse_repl/bug8/mutant_*
storm/fse_repl/bug9/mutant_*
storm/fse_repl/bug10/mutant_*
storm/fse_repl/bug11/mutant_*
storm/fse_repl/bug12/mutant_*
storm/fse_repl/bug13/mutant_*
storm/fse_repl/bug14/mutant_*
storm/fse_repl/bug15/mutant_*
storm/fse_repl/bug16/mutant_*
storm/fse_repl/bug17/mutant_*
storm/fse_repl/bug18/mutant_*
storm/fse_repl/bug19/mutant_*
storm/fse_repl/bug20/mutant_*
storm/fse_repl/bug21/mutant_*